{% extends 'base.html' %}

{% block title %}Registro Index{% endblock %}
{% block clase1 %}active{% endblock %}

{% block content %}
<div class="container-fluid">
    <form action="/order/" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <!-- {{form.as_ul}} -->
        <div class="row ">
            <div class="form-group col-md-4">
                <label for="desde-text" class="col-form-label">State:</label>
                <select class="form-control" name="state">
                    <option value="0">Select State</option>
                    {% for st in states %}
                    <option value="{{st.id}}">{{st.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="desde-text" class="col-form-label">Payment Method:</label>
                <select class="form-control" name="payment_method">
                    <option value="0">Select State</option>
                    {% for pm in paymentMethods %}
                    <option value="{{pm.id}}">{{pm.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="desde-text" class="col-form-label">Amount:</label>
                {{form.amount}}
            </div>
        </div>
        <div class="row">
           
            <div class="form-group col-md-4">
                <label for="desde-text" class="col-form-label">Pending Amount:</label>
                {{form.pending_amount}}
            </div>
            <div class="form-group col-md-4">
                <label for="message-text" class="col-form-label">Shipment Address:</label>
                {{form.shipment_address}}
            </div>
            <div class="form-group col-md-4">
                <label for="message-text" class="col-form-label">User Logged:</label>
                <input class="form-control form-control-sm" value="{{user.user}}" type="text" 
                id="saddress" REQUIRED name="iduser" disabled>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <input class="form-control form-control-sm" value="{{user.idUser}}" type="hidden" 
                id="saddress" REQUIRED name="user">
            </div>
        </div>
        <Button class="btn btn-primary" type="submit">Save</Button>
    </form>

    <div>
        <br>
        <table id="myTable" class="table table-hover table-striped  table-bordered text-center ancho">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">DATE</th>
                    <th scope="col">STATE</th>
                    <th scope="col">PAYMENT METHOD</th>
                    <th scope="col">SHIPMENT ADDRESS</th>
                    <th scope="col">AMOUNT</th>
                    <th scope="col">PENDING AMOUNT</th>
                    <th scope="col">ACTION</th>
                </tr>
            </thead>
            <tbody>
                {% for o in orders %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <td>{{ o.datetime_created }}</td>
                    <td>{{ o.state }}</td>
                    <td>{{ o.payment_method }}</td>
                    <td>{{ o.shipment_address }}</td>
                    <td>{{ o.amount }}</td>
                    <td>{{ o.pending_amount }}</td>
                    <td><button type="button" class="btn btn-success " onclick="modalEditar(`{{o.id}}`)">Editar</button>
                        <button type="button" class="btn btn-danger"
                            onclick="advertenciaEliminar(`{{o.id}}`)">Eliminar</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- MODAL EDITAR  -->
<div class="modal fade" id="editar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Order Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="nombre">State:</label>
                        <select id="ste" class="form-control">
                            {% for st in states %}
                            <option value="{{st.id}}">{{st.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="nombre">Payment Method:</label>
                        <select id="pm" class="form-control">
                            {% for pm in paymentMethods %}
                            <option value="{{pm.id}}">{{pm.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="nombre">Amount:</label>
                        <input class="form-control form-control-sm" type="text" placeholder="Amount" id="amount" REQUIRED
                            name="Quantity" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="nombre">Pending Amount:</label>
                        <input class="form-control form-control-sm" type="text" placeholder="Pending Amount:" id="pa"
                            REQUIRED name="Quantity" onkeypress='return event.charCode >= 48 && event.charCode <= 57' disabled>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="documento">Shipment Address</label>
                        <input class="form-control form-control-sm" type="text" placeholder="Shipment Address"
                            id="saddress" REQUIRED name="address">
                    </div>
                </div>
            </div>
            <div id="buttonsave" class="modal-footer text-center">
            </div>
        </div>
    </div>
</div>
<!-- MODAL ADVERTENCIA ELIMINAR -->
<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Hola !</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Seguro que desea Eliminar.

            </div>
            <div class="modal-footer" id="buttonEliminar">
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block scripts %}
{% csrf_token %}
<script>
    var array = []
    {% for or in orders %}
    array.push({ id: "{{or.id}}", state: "{{or.state.id}}", payment_method: "{{or.payment_method.id}}", amount: "{{or.amount}}", pending_amount: "{{or.pending_amount}}", shipment_address: "{{or.shipment_address}}" });
    {% endfor %}
    console.log(array)

    function productDelete(id) {
        var data = JSON.stringify({ id: id })
        datos = {
            delete: data,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }
        $.post("{% url 'order' %}", datos)
        window.location.href = '/order/';
    }
    function advertenciaEliminar(id) {
        $('#modalEliminar').modal('show');
        $('#buttonEliminar').html('<button class="btn btn-danger" id="btnEliminar" type="button" data-dismiss="modal" onclick="productDelete(' + id + ');">Eliminar</button><button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>');
    }
    function modalEditar(id) {
        var row = validateFind(array, 'id', id)
        console.log('ROW', row)
        $('#editar').modal('show');
        $('#ste').val(row.state);
        $('#pm').val(row.payment_method);
        $('#amount').val(row.amount);
        $('#pa').val(row.pending_amount);
        $('#saddress').val(row.shipment_address);
        $('#buttonsave').html('<Button type="button" class="btn btn-primary" onclick="guardar(' + id + ')" value="2">Guardar</Button><button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>');
    }

    function guardar(id) {
        var state = $('#ste').val();
        var payment_method = $('#pm').val();
        var amount = $('#amount').val();
        var pending_amount = $('#pa').val();
        var shipment_address = $('#saddress').val();
        var detalleArray = {}
        detalleArray.state = state
        detalleArray.payment_method = payment_method
        detalleArray.amount = amount
        detalleArray.pending_amount = pending_amount
        detalleArray.shipment_address = shipment_address
        var data = JSON.stringify({ id: id, detalleArray })
        datos = {
            editar: data,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }
        $.post("{% url 'order' %}", datos)
        $('#editar').modal('hide');
        window.location.href = '/order/';

    }
    function validateFind(array, key, value) {
        return array.find(function (e) {
            return e[key] === value;
        });
    }

</script>
{% endblock %}