{% extends 'base.html' %}

{% block title %}Registro Index{% endblock %}
{% block clase %}active{% endblock %}

{% block content %}
<div class="container-fluid">
    <form action="{% url 'product' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <!-- {{form.as_ul}} -->
        <div class="row ">
            <div class="form-group col-md-6">
                <label for="desde-text" class="col-form-label">Name:</label>
                {{form.name}}
            </div>
            <div class="form-group col-md-6">
                <label for="message-text" class="col-form-label">Quantity:</label>
                {{form.quantity}}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="desde-text" class="col-form-label">Unit Price:</label>
                {{form.unit_price}}
            </div>
            <div class="form-group col-md-6">
                <label for="desde-text" class="col-form-label">State:</label>
                <select class="form-control" name="state">
                    <option value="0">Select State</option>
                    {% for st in states %}
                    <option value="{{st.id}}">{{st.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- <div class="form-group col-md-6">
                    <label for="desde-text" class="col-form-label">State:</label>
                    {{form.state}}
                </div> -->
        </div>
        <Button class="btn btn-primary" type="submit">Save</Button>
    </form>

    <div>
        <br>
        <table id="myTable" class="table table-hover table-striped  table-bordered text-center ancho">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">NAME</th>
                    <th scope="col">QUANTITY</th>
                    <th scope="col">UNIT PRICE</th>
                    <th scope="col">STATE</th>
                    <th scope="col">ACTION</th>
                </tr>
            </thead>
            <tbody>
                {% for p in products %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <td>{{ p.name }}</td>
                    <td>{{ p.quantity }}</td>
                    <td>{{ p.unit_price }}</td>
                    <td>{{ p.state }}</td>
                    <td><button type="button" class="btn btn-success " onclick="modalEditar(`{{p.id}}`)">Editar</button>
                        <button type="button" class="btn btn-danger"
                            onclick="advertenciaEliminar(`{{p.id}}`)">Eliminar</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- MODAL EDITAR  -->
<div class="modal fade" id="editar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Product Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="nombre">Name:</label>
                        <input class="form-control form-control-sm" type="text" placeholder="Name" id="nam" REQUIRED
                            name="name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="nombre">Quantity:</label>
                        <input class="form-control form-control-sm" type="text" placeholder="Quantity" id="quan"
                            REQUIRED name="Quantity" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="documento">Price Unit:</label>
                        <input class="form-control form-control-sm" type="text" placeholder="Price Unit" id="priunit"
                            REQUIRED name="price" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="nombre">State:</label>
                        <select id="ste" class="form-control">
                            {% for st in states %}
                            <option value="{{st.id}}">{{st.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div id="buttonsave" class="modal-footer text-center">


            </div>

        </div>
    </div>
</div>
<!-- MODAL ADVERTENCIA ELIMINAR -->
<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Hola !</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Seguro que desea Eliminar.

            </div>
            <div class="modal-footer" id="buttonEliminar">
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block scripts %}
{% csrf_token %}
<script>
    var array = []
    {% for pro in products %}
    array.push({ id: "{{pro.id}}", name: "{{pro.name}}", quantity: "{{pro.quantity}}", unit_price: "{{pro.unit_price}}", state: "{{pro.state.id}}" });
    {% endfor %}
    console.log(array)
    function productDelete(id) {
        var data = JSON.stringify({ id: id})
        datos = {
            data: data,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }
        $.post("{% url 'product' %}", datos)
        window.location.href = '/product/';
    }
    function advertenciaEliminar(id) {
        $('#modalEliminar').modal('show');
        $('#buttonEliminar').html('<button class="btn btn-danger" id="btnEliminar" type="button" data-dismiss="modal" onclick="productDelete(' + id + ');">Eliminar</button><button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>');
    }

    function modalEditar(id) {
        var row = validateFind(array, 'id', id)
        console.log('ROW', row)
        $('#editar').modal('show');
        $('#nam').val(row.name);
        $('#quan').val(row.quantity);
        $('#priunit').val(row.unit_price);
        $('#ste').val(row.state);
        $('#buttonsave').html('<Button type="button" class="btn btn-primary" onclick="guardar(' + id + ')" value="2">Guardar</Button><button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>');
    }

    function guardar(id) {
        var name = $('#nam').val();
        var quantity = $('#quan').val();
        var unit_price = $('#priunit').val();
        var state = $('#ste').val();
        var detalleArray = {}
        detalleArray.name = name
        detalleArray.quantity = quantity
        detalleArray.unit_price = unit_price
        detalleArray.state = state
        var data = JSON.stringify({ id: id, detalleArray })
        datos = {
            editar: data,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        }
        $.post("{% url 'product' %}", datos)
        $('#editar').modal('hide');
        window.location.href = '/product/';
       
    }
    function validateFind(array, key, value) {
        return array.find(function (e) {
            return e[key] === value;
        });
    }
</script>
{% endblock %}